/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "cars";

 /* App Styles */

.red {
  color: red;
}
.green {
  color: green;
}

.progress {
  max-width: 900px;
  margin:    0.2em 0 0.2em 0;
}

.progress .bar {
  height:  1.2em;
  padding-left: 0.2em;
  color:   white;
  display: none;
  height: 100%;
}

.submit-button {
  margin-left: 15px;
}

.car_available {
  margin-left: 21px;
}

.order {
  padding: 5px;
}
